<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocGuide - Sign-in</title>
    <link rel="icon" href="https://icon-library.com/images/medical-icon-png/medical-icon-png-13.jpg" type="image/jpg"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_signin.css') }}">

</head>


<body>
    <a style="text-decoration: none; opacity:0.4;" href="\"><</a>
     <div class="flash-message-container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
     <script>
          document.addEventListener("DOMContentLoaded", function () {
            const flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach((msg) => {
              setTimeout(() => {
                msg.style.transition = "opacity 0.5s ease";
                msg.style.opacity = '0';
                setTimeout(() => msg.remove(), 500);
              }, 1500);
            });
          });
        </script>

    <div class="container" style="width:330px;">
        <div class="form-container">
            <div class="logo">DocGuide</div>


            <form action="/signin" style="margin-top:10px;" method="POST">
                <div class="input-group" >
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" style="margin-top:5px;" placeholder="Enter your username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" style="margin-top:5px;" placeholder="Enter your password" required>
                </div>
                <div class="form-actions">
                    <button type="submit">Log in</button>
                    <a href="/forget">Forgot Password?</a>
                </div>
                <div class="signup-link">
                    <br>
                    <p>Don't have an account? <a href="/signup" class="signup-link"><br> Sign Up</a></p>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
